@media (min-width: 0px) {
  .responsive{
    max-height:  calc(11rem + 1vw) !important;
  }
  .responsive,
  h1{
    font-size:  calc(1.4rem + 1vw);
  }
  h3{
    font-size:  calc(1rem + 1vw);
  }
}

@media (min-width: 599.99px) {
  .responsive{
    max-height:  calc(12rem + 1vw) !important;
  }
  .responsive,
  h1{
    font-size:  calc(1.4rem + 1vw);
  }
  h3{
    font-size:  calc(1rem + 1vw);
  }
}

@media (min-width: 1023.99px){
  .responsive{
    max-height:  calc(12rem + 1vw) !important;
  }
  .responsive,
  h1{
    font-size:  calc(1.4rem + 1vw);
  }
  h3{
    font-size:  calc(1rem + 1vw);
  }
}

@media (min-width: 1439.99px){
  .responsive{
    max-height:  calc(13rem + 1vw) !important;
  }
  .responsive,
  h1{
    font-size:  calc(1.4rem + 1vw);
  }
  h3{
    font-size:  calc(1rem + 1vw);
  }
}

.with-background{
  position: absolute;
  overflow-y: auto;
  top: 0;
}

.container-title {
  position: relative;
  text-align: center;
}
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text{
  text-align: -webkit-center;
}

.separator{
  background-color: rgba(128, 128, 128, 0.8);
}

.pointer{
  cursor: pointer;
}

.footer-style{
  position: relative;
  background-size: 50% ;
  background-color: black;
}

a:visited {
  color:white;
}

a:active {
  color: white;
}

@font-face {
  font-family: 'faber';
  src: url('../assets/fonts/faber_serif/FaberSerifReduced65.ttf') format('truetype');
}
@font-face {
  font-family: 'gentium';
  src: url('../assets/fonts/gentium/GenAR102.TTF') format('truetype');
}

.faber{
  font-family:'faber';
}
.gentium{
  font-family:'gentium';
  text-shadow: 0.01px 0 0 #000, 0 -0.1px 0 #000, 1px 0px 0 #000, -0.1px 0 0 #000;
}
