.container-title {
  position: relative;
  text-align: center;
}
.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text{
  text-align: -webkit-center;
}

.separator{
  background-color: rgba(128, 128, 128, 0.071);
}

.pointer{
  cursor: pointer;
}

.footer-style{
  position: relative;
  background-size: 50% ;
  background-color: black;
}

a:visited {
  color:white;
}

a:active {
  color: white;
}

.border-footer{
  border-right: solid 1px #fff;
  position: relative;
}

.background {
  background:url("/images/background.png");
  /* Create the parallax scrolling effect */
  aspect-ratio: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'faber';
  src: url('../assets/fonts/faber_serif/FaberSerifReduced65.ttf') format('truetype');
}
@font-face {
  font-family: 'gentium';
  src: url('../assets/fonts/gentium/GenAR102.TTF') format('truetype');
}

.faber{
  font-family:'faber';
}
.gentium{
  font-family:'gentium';
  text-shadow: 0.01px 0 0 #000, 0 -0.1px 0 #000, 1px 0px 0 #000, -0.1px 0 0 #000;
}
